@model StajProjesi.Models.Model.Task

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskTeslimTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskTeslimTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projeid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projeid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Taskid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
