@model StajProjesi.Models.Model.Users


@{
    String id = Session["Userid"].ToString();
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Userid)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Userid)
        id
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.UserAd)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UserAd)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.UserUnvan.UnvanAdi)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UserUnvan.UnvanAdi)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Eposta)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Eposta)
    </dd>



</dl>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = item.Userid }) |
    @Html.ActionLink("Details", "Details", new { id = item.Userid }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.Userid })
</p>