@model StajProjesi.Models.Model.Proje

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script type="text/javascript">
        CKEDITOR.replace('editor');
    </script>

    <br />
    <div class="form-horizontal">
        <h4>Proje Oluştur</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Proje Adı</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.ProjeAdi, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.ProjeAdi, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">

            <label class="control-label col-md-2">Proje Açıklama</label>
            <div class="col-md-10">
                <textarea name="ProjeAciklama" class="ckeditor form-control" required> </textarea>
                @Html.ValidationMessageFor(model => model.ProjeAciklama, "", new { @class = "text-danger" })
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default " />
            </div>
        </div>
        </div>
    }
