@model IEnumerable<StajProjesi.Models.Model.Proje>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Index</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.Projeid)
            @*@Html.DisplayNameFor(model => model.Users.Eposta)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjeAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjeAciklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Projeid)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Users.Eposta)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ProjeAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjeAciklama)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Projeid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Projeid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Projeid })
        </td>
    </tr>
}

</table>
